* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;

}

#container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
    text-align: center;
}

#container h1 {
    font-size: 5rem;
}

#input_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#input {
    width: 500px;
    height: 50px;
    border: 2px solid #000;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 1.2rem;
    border-right: none;
}
#add {
    width: 100px;
    height: 50px;
    border: 2px solid #000;
    border-left: none;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    box-sizing: border-box; /* Ensures button height matches input */
    
}

#task_list {
    list-style: none;
}

.task {
    display: flex;
    margin: 10px 0;
}

.task p {
    margin-right: auto;
    margin-left: 10px;
    font-size: 1.2rem;
}

.done_btn {
    width: 100px;
    background-color: #78f4ff;
    border: 2px solid black;
}